GridviewEx/.vs/GridviewEx/v16/.suo
GridviewEx/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GridviewEx/obj/Debug/GridviewEx.csproj.AssemblyReference.cache
GridviewEx/obj/Debug/GridviewEx.csproj.GenerateResource.cache
*.cache
GridviewEx/.vs/GridviewEx/v16/.suo
GridviewEx/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GridviewEx/obj/Debug/GridviewEx.csproj.AssemblyReference.cache
GridviewEx/obj/Debug/GridviewEx.csproj.GenerateResource.cache
